In [1]:
import sqlite3
import csv

In [3]:
conn=sqlite3.connect('rate.db')

In [4]:
import pandas as pd

In [7]:
df=pd.read_csv('ratings.csv',index_col=0)

In [8]:
df.head(2)

        movieId  rating   timestamp
userId
1            31     2.5  1260759144
1          1029     3.0  1260759179

In [9]:
c=conn.cursor()

In [11]:
#c.execute("""CREATE TABLE ratings(
#userId integer,
#movieId integer
#rating real
#timestamp integer)""")
c.execute("INSERT INTO ratings VALUES()")
conn.commit()
conn.close()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 18))

ProgrammingError: Cannot operate on a closed database.